<%- include('partials/header.ejs') -%>
<div class ="founder">
  <h1>Search Results for Workshop Entries</h1>

  <% let totalBookings = 0; %>

  <% if (workshops.length === 0) { %>
    <h2>There are 0 bookings made for that user in the given Timeframe.</h2>
        <img src="/images/noWorkshops.gif" alt="No Workshops?" width="700" height="420"> <!-- image source - https://tenor.com/en-GB/view/n-xenoblade-n-xenoblade-xenoblade-3-deepfryjimmy-gif-10198362033769306392 -->

  <% } else { %>
    <% workshops.forEach(workshop => { %>
      <% totalBookings += 1; %>
    <% }); %>
    <h2>There are <%= totalBookings %> bookings made for <%= workshops[0].fname %> <%= workshops[0].lname %> in the given Timeframe.</h2>

    <div class="workshop-container">
      <% workshops.forEach(workshop => { %>
        <div class="workshop-entry">
          <h2>Name: <%= workshop.fname %> <%= workshop.lname %></h2>
          <p>Email: <%= workshop.email %></p>
          <p>Phone Number: <%= workshop.phNo %></p>
          <p>Date of Workshop: <%= workshop.dateOfWorkshop.toISOString().split('T')[0] %></p>
          <p>Time of Workshop: <%= workshop.timeofWorkshop %></p>
        </div>
      <% }); %>
    </div>
  <% } %>

</body>
<%- include('partials/footer.ejs') %>